<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Expanding Cards</title>
    <link rel="stylesheet" type="text/css" href="../public/css/home.css" />
  </head>
  <body>
    <div class="container">
      <!--FIRST PANEL-->
      <div class="panel-active" style="background-image: url(https://statics.eleconomista.com.ar/2022/06/6297d630041a8.jpg)">
        <h3>Football</h3>
      </div>

      <!--SECOND PANEL-->
      <div class="panel" style="background-image: url(https://tvnz-1-news-prod.cdn.arcpublishing.com/resizer/v2/the-all-black-beauden-barrett-photo-photo-andrew-cornaga-pho-EEVKULCB5BG5TAAUXJ7EPPEJZU.jpg?auth=189542e3683b7fb0fa5c1e5b597e80e4e50a0f33cf57c229d8e75852538d5856&quality=70)">
        <h3>Rugby</h3>
      </div>

      <!--THIRD PANEL-->
      <div class="panel" style="background-image: url(https://www.japantimes.co.jp/japantimes/uploads/images/2024/04/30/334471.JPG)">
        <h3>Basketball</h3>
      </div>

      <!--FOURTH PANEL-->
      <div class="panel" style="background-image: url(https://img.mlbstatic.com/mlb-images/image/private/t_w2208/mlb/hahlgw7p9talhkbztocd.jpg)">
        <h3>Baseball</h3>
      </div>

      <!--FIFTH PANEL-->
      <div class="panel" style="background-image: url(https://images8.alphacoders.com/100/1004566.jpg)">
        <h3>Tennis</h3>
      </div>
    </div>
  </body>
</html>
